language: python
python:
  - 3.3
  - 3.4
  - 3.5
  - 3.6
install:
  - pip install -r requirements-test.txt
  - pip install -r requirements.txt
before_script:
  - mkdir -p tests/_coverage
script:
  - py.test tests/ --cov watson --cov-report term-missing
after_success:
  - coveralls --verbose
notifications:
  slack:
    secure: Oz4ode0JLqs+PsDQG8ON4Sxew5Oi7cb+YHnPPV1q+Vzn4btvMURUTQDD2lTK6Dp6CSPZKh+b+HDaM40RdbzADF8t5F0Do7bb2DhrAb4hfybKeSS82t/E48PFc1rWjzde1GV8bx/bq5iBg/gFF/Sd7pbTJyfsH78Yb58YjJFErno=
